.header {
    height: 10rem;

    &__container {
        @include grid;
        height: 100%;
    }

    &__heading {
        display: none;
    }

    &__nav {
        grid-column:  10 / 13;
        height: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: space-between;

        
		@include respond(tab-land) {
            grid-column:  9 / 12;
        }
        
		@include respond(phone) {
            grid-column:  8 / 11;
		}

        
        & > * {
            font-family: $nav-font;
            color: $color-heading;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}



.logo-container {
    grid-column: 1 / 5;
    align-self: center;

    display: flex;
    align-items: center;

    @include respond(phone) {
        grid-column: 2 / 6;
    }

    .logo {
        width: 28rem;
    }
}


.active-nav-item {
    color: $color-primary;
}