.header {
    height: 10rem;

    @include respond(phone) {
        height: auto;
    }


    &__container {
        @include grid;
        height: 100%;
    }

    &__heading {
        display: none;
    }

    &__nav {
        grid-column:  10 / 13;
        grid-row: 1 / 2;
        height: 10rem;
    
        display: flex;
        align-items: center;
        justify-content: space-between;

        
		@include respond(tab-land) {
            grid-column:  9 / 13;
        }

		@include respond(tab-port) {
            grid-column:  8 / 13;
        }

		@include respond(phone) {
            grid-column:  1 / 13;
            grid-row: 2 / 3;
            justify-self: center;
		}

        
        & > * {
            font-family: $nav-font;
            color: $color-heading;
            padding: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;

            @include respond(tab-land) {
                font-size: 1.5rem;
            }

            @include respond(phone) {
                font-size: 1.8rem;
            }
        }
    }
}



.logo-container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: auto;

    display: flex;
    align-items: center;

    @include respond(phone) {
        grid-column: 1 / 13;
        justify-self: center;
    }

    .logo {
        width: 28rem;

        @include respond(phone) {
            width: 30rem;
            margin-top: 2.5rem;
        }
    }
}


.active-nav-item {
    color: $color-primary;
}