@import url("https://fonts.googleapis.com/css?family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*
Media Query Manager 
0 = 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.5s;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: tab-land) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: tab-port) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: Open-sans, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #323c47;
  font-size: 1.6rem;
}

.btn__primary {
  width: 20rem;
  height: 5rem;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: #ec8c38;
}

.btn__secondary {
  width: 20rem;
  height: 5rem;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: transparent;
  border: 0.2rem solid #fff;
}

.footer {
  border-top: 0.3rem solid #fafafb;
}
.footer__nav__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
  height: auto;
}
@media only screen and (max-width: 90em) {
  .footer__nav__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__nav__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .footer__nav__container {
    width: 100%;
  }
}
.footer__nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .footer__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media only screen and (max-width: phone) {
  .footer__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.footer__nav > * {
  font-family: Roboto, sans-serif;
  padding: 1rem;
  color: #546578;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (max-width: 75em) {
  .footer__nav > * {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: tab-land) {
  .footer__nav > * {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__nav > * {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: phone) {
  .footer__nav > * {
    font-size: 1.8rem;
  }
}
.footer__border {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  height: 40%;
  border-right: 0.2rem solid #ced5dd;
}
@media only screen and (max-width: 37.5em) {
  .footer__border {
    display: none;
  }
}
@media only screen and (max-width: phone) {
  .footer__border {
    display: none;
  }
}
.footer__content {
  height: 40rem;
  background-color: #fafafb;
}
@media only screen and (max-width: 56.25em) {
  .footer__content {
    height: auto;
  }
}
@media only screen and (max-width: tab-port) {
  .footer__content {
    height: auto;
  }
}
.footer__content__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
  height: 100%;
}
@media only screen and (max-width: 90em) {
  .footer__content__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__content__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .footer__content__container {
    width: 100%;
  }
}
.footer__content__flex-left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 40rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__content__flex-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 20rem;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: tab-port) {
  .footer__content__flex-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 20rem;
    margin-top: 4rem;
  }
}
.footer__content__group {
  width: 45rem;
}
.footer__content__group img {
  width: 28rem;
  margin-bottom: 1rem;
}
.footer__content__group p {
  color: #989898;
}
@media only screen and (max-width: 37.5em) {
  .footer__content__group {
    width: auto;
  }
}
@media only screen and (max-width: phone) {
  .footer__content__group {
    width: auto;
  }
}
.footer__content__flex-right {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 40rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__content__flex-right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 20rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media only screen and (max-width: tab-port) {
  .footer__content__flex-right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 20rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.footer__content__links {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  width: 26rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .footer__content__links {
    width: 35rem;
  }
}
@media only screen and (max-width: tab-port) {
  .footer__content__links {
    width: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__content__links {
    width: 25rem;
  }
}
@media only screen and (max-width: phone) {
  .footer__content__links {
    width: 25rem;
  }
}
.footer__content__links p {
  color: #989898;
  line-height: 3rem;
}
.footer__content__links h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #546578;
  margin-bottom: 1.3rem;
}
.footer__author {
  background-color: #ececf0;
  color: #546578;
  text-align: center;
  padding: 1rem 0;
}

.active-nav-item {
  color: #3898ec;
}

.subscribe {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .subscribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: phone) {
  .subscribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 3rem;
  }
}
.subscribe__text {
  font-size: 1.2rem;
  width: 20rem;
  color: #989898;
}
@media only screen and (max-width: 37.5em) {
  .subscribe__text {
    margin-right: 3rem;
    width: 22rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: phone) {
  .subscribe__text {
    margin-right: 3rem;
    width: 22rem;
    font-size: 1.4rem;
  }
}
.subscribe__form {
  position: relative;
  display: flex;
  align-items: center;
}
.subscribe__form__input {
  width: 20rem;
  height: 4rem;
  border: 0.2rem solid #eceff2;
  border-radius: 0.4rem;
  color: #989898;
}
.subscribe__form__input:focus:placeholder-shown {
  color: transparent;
}
.subscribe__form__input-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mail-icon {
  width: 2rem;
  position: absolute;
  right: 1rem;
  bottom: 1.1rem;
}
.mail-icon:hover {
  transform: scale(1.12);
}

.header {
  height: 10rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: auto;
  }
}
@media only screen and (max-width: phone) {
  .header {
    height: auto;
  }
}
.header__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
  height: 100%;
}
@media only screen and (max-width: 90em) {
  .header__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .header__container {
    width: 100%;
  }
}
.header__heading {
  display: none;
}
.header__nav {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 75em) {
  .header__nav {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
}
@media only screen and (max-width: tab-land) {
  .header__nav {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__nav {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
}
@media only screen and (max-width: tab-port) {
  .header__nav {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media only screen and (max-width: phone) {
  .header__nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.header__nav > * {
  font-family: Roboto, sans-serif;
  color: #546578;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (max-width: 75em) {
  .header__nav > * {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: tab-land) {
  .header__nav > * {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__nav > * {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: phone) {
  .header__nav > * {
    font-size: 1.8rem;
  }
}

.logo-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media only screen and (max-width: phone) {
  .logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.logo-container .logo {
  width: 28rem;
}
@media only screen and (max-width: 37.5em) {
  .logo-container .logo {
    width: 30rem;
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: phone) {
  .logo-container .logo {
    width: 30rem;
    margin-top: 2.5rem;
  }
}

.active-nav-item {
  color: #3898ec;
}

.hero {
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .hero {
    height: 65rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero {
    height: 65rem;
  }
}
.hero__bg-primary {
  background-color: #3898ec;
}
.hero__bg-tertiary {
  background-color: #1b5179;
}
.hero__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
  height: auto;
}
@media only screen and (max-width: 90em) {
  .hero__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .hero__container {
    width: 100%;
  }
}
.hero__group {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  margin-bottom: 12rem;
  width: 46rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .hero__group {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    margin-bottom: 0;
    width: auto;
    align-items: center;
  }
}
@media only screen and (max-width: tab-port) {
  .hero__group {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    margin-bottom: 0;
    width: auto;
    align-items: center;
  }
}
.hero__heading {
  color: #fff;
  font-family: Catamaran, sans-serif;
  font-size: 4.8rem;
  margin-top: 11.5rem;
  line-height: 6.4rem;
}
@media only screen and (max-width: 56.25em) {
  .hero__heading {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero__heading {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__heading {
    font-size: 3rem;
    margin-top: 7.7rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .hero__heading {
    font-size: 3rem;
    margin-top: 7.7rem;
    text-align: center;
  }
}
.hero__text {
  color: #fff;
  margin: 1.8rem 0 3.4rem 0;
}
@media only screen and (max-width: 56.25em) {
  .hero__text {
    font-size: 1.8rem;
    width: 60rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero__text {
    font-size: 1.8rem;
    width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__text {
    width: 43rem;
  }
}
@media only screen and (max-width: phone) {
  .hero__text {
    width: 43rem;
  }
}
.hero__img-container {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .hero__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-bottom: 0;
    top: 4rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-bottom: 0;
    top: 4rem;
  }
}
.hero__img {
  width: 47rem;
}
@media only screen and (max-width: 56.25em) {
  .hero__img {
    width: 55rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero__img {
    width: 55rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__img {
    width: 45rem;
  }
}
@media only screen and (max-width: phone) {
  .hero__img {
    width: 45rem;
  }
}

.testimonials__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .testimonials__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .testimonials__container {
    width: 100%;
  }
}
.testimonials__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .testimonials__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .testimonials__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.testimonials__heading span {
  color: #3898ec;
  font-size: 4.5rem;
}
@media only screen and (max-width: 37.5em) {
  .testimonials__heading span {
    font-size: 4.1rem;
  }
}
@media only screen and (max-width: phone) {
  .testimonials__heading span {
    font-size: 4.1rem;
  }
}
.testimonials__subheading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 2rem;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #989898;
}
.testimonials__border {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border-bottom: solid 0.3rem #fafafb;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .testimonials__border {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
}
@media only screen and (max-width: phone) {
  .testimonials__border {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
}
.testimonials__group {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .testimonials__group {
    flex-direction: column;
  }
}
@media only screen and (max-width: tab-port) {
  .testimonials__group {
    flex-direction: column;
  }
}
.testimonials__group__item {
  height: auto;
  width: 35rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .testimonials__group__item {
    width: 33rem;
  }
}
@media only screen and (max-width: tab-port) {
  .testimonials__group__item {
    width: 33rem;
  }
}
.testimonials__group__paragraph {
  margin-bottom: 3rem;
}
.testimonials__group__author {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}
.testimonials__group__author img {
  width: 5rem;
}
.testimonials__group__text {
  height: 3rem;
  color: #546578;
}
.testimonials__group__text p {
  color: #989898;
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
}

.hero-home {
  background-color: #3898ec;
}
.hero-home__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .hero-home__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-home__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__container {
    width: 100%;
  }
}
.hero-home__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 80rem;
  color: #fff;
  font-family: Catamaran, sans-serif;
  font-size: 4.8rem;
  text-align: center;
  margin-top: 11.5rem;
}
@media only screen and (max-width: 56.25em) {
  .hero-home__heading {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero-home__heading {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-home__heading {
    font-size: 3rem;
    margin-top: 8rem;
    width: auto;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__heading {
    font-size: 3rem;
    margin-top: 8rem;
    width: auto;
  }
}
.hero-home__subheading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 65rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0 4rem 0;
}
@media only screen and (max-width: 56.25em) {
  .hero-home__subheading {
    width: 60rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero-home__subheading {
    width: 60rem;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-home__subheading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    width: auto;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__subheading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    width: auto;
  }
}
.hero-home__btn-group {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-column-align: center;
      justify-self: center;
}
@media only screen and (max-width: 37.5em) {
  .hero-home__btn-group {
    width: 43rem;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__btn-group {
    width: 43rem;
    display: flex;
    justify-content: space-between;
  }
}
.hero-home__btn-one {
  margin-right: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .hero-home__btn-one {
    margin-right: 0;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__btn-one {
    margin-right: 0;
  }
}
.hero-home__screen {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5rem;
  height: 28rem;
}
@media only screen and (max-width: 56.25em) {
  .hero-home__screen {
    height: 20rem;
  }
}
@media only screen and (max-width: tab-port) {
  .hero-home__screen {
    height: 20rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-home__screen {
    height: 15rem;
  }
}
@media only screen and (max-width: phone) {
  .hero-home__screen {
    height: 15rem;
  }
}

.features-home__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
  height: auto;
}
@media only screen and (max-width: 90em) {
  .features-home__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .features-home__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .features-home__container {
    width: 100%;
  }
}
.features-home__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .features-home__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .features-home__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.features-home__group {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 56.25em) {
  .features-home__group {
    flex-direction: column;
  }
}
@media only screen and (max-width: tab-port) {
  .features-home__group {
    flex-direction: column;
  }
}
.features-home__item {
  width: 30rem;
  height: auto;
  margin: 0 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .features-home__item {
    align-items: center;
    width: 31rem;
  }
}
@media only screen and (max-width: tab-port) {
  .features-home__item {
    align-items: center;
    width: 31rem;
  }
}
.features-home__item img {
  height: 5rem;
}
.features-home__item h3 {
  color: #546578;
  margin: 1rem 0;
}
.features-home__item p {
  margin-bottom: 1rem;
  width: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .features-home__item p {
    width: 38rem;
  }
}
@media only screen and (max-width: tab-port) {
  .features-home__item p {
    width: 38rem;
  }
}
.features-home__item a {
  text-decoration: none;
}
.features-home__btn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 9rem;
}

.highlight {
  height: 50rem;
  background-color: #fafafb;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .highlight {
    height: auto;
  }
}
@media only screen and (max-width: tab-port) {
  .highlight {
    height: auto;
  }
}
.highlight__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .highlight__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .highlight__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .highlight__container {
    width: 100%;
  }
}
.highlight__one {
  font-size: 4rem;
  color: #3898ec;
}
.highlight__group {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 10rem 0;
  width: 40rem;
}
@media only screen and (max-width: 56.25em) {
  .highlight__group {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
@media only screen and (max-width: tab-port) {
  .highlight__group {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}
@media only screen and (max-width: 37.5em) {
  .highlight__group {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    justify-self: center;
    margin: 7rem 0 6rem 0;
    width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: phone) {
  .highlight__group {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    justify-self: center;
    margin: 7rem 0 6rem 0;
    width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.highlight__heading {
  font-size: 3.2rem;
  font-family: Catamaran, sans-serif;
  color: #546578;
  line-height: 4.8rem;
}
@media only screen and (max-width: 37.5em) {
  .highlight__heading {
    font-size: 2.8rem;
    width: 30.5rem;
  }
}
@media only screen and (max-width: phone) {
  .highlight__heading {
    font-size: 2.8rem;
    width: 30.5rem;
  }
}
.highlight__text {
  margin: 1.3rem 0 3rem 0;
}
.highlight__img-container {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 37.5em) {
  .highlight__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media only screen and (max-width: phone) {
  .highlight__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
.highlight__img {
  width: 45rem;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 89.625em) {
  .highlight__img {
    width: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .highlight__img {
    margin-bottom: 7rem;
  }
}
@media only screen and (max-width: phone) {
  .highlight__img {
    margin-bottom: 7rem;
  }
}
.highlight__bg {
  height: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
@media only screen and (max-width: 89.625em) {
  .highlight__bg {
    right: -30rem;
  }
}
@media only screen and (max-width: 44.375em) {
  .highlight__bg {
    display: none;
  }
}

.vendors {
  background-color: #3898ec;
}
.vendors__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .vendors__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .vendors__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .vendors__container {
    width: 100%;
  }
}
.vendors__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  font-size: 3.2rem;
  font-family: Catamaran, sans-serif;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .vendors__heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    text-align: center;
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: phone) {
  .vendors__heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    text-align: center;
    font-size: 2.8rem;
  }
}
.vendors__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 2rem 0 7rem 0;
  width: 80rem;
}
@media only screen and (max-width: 37.5em) {
  .vendors__img {
    width: 45rem;
  }
}
@media only screen and (max-width: phone) {
  .vendors__img {
    width: 45rem;
  }
}

.enterprise-features__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .enterprise-features__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .enterprise-features__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .enterprise-features__container {
    width: 100%;
  }
}
.enterprise-features__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .enterprise-features__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .enterprise-features__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.enterprise-features__subheading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #989898;
}
.enterprise-features__wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 3rem;
}
.enterprise-features__group {
  display: flex;
  flex-wrap: wrap;
  width: 88rem;
  height: 38rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .enterprise-features__group {
    height: 76rem;
    width: 44rem;
  }
}
@media only screen and (max-width: tab-port) {
  .enterprise-features__group {
    height: 76rem;
    width: 44rem;
  }
}
.enterprise-features__item {
  width: 40rem;
  height: 15rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.enterprise-features__item h3 {
  color: #546578;
}
.enterprise-features__item img {
  height: 4rem;
  margin-top: 0.7rem;
}
.enterprise-features__item__text {
  width: 33rem;
}

.enterprise-phone {
  margin-left: 0.7rem;
}

.enterprise-file {
  margin-left: 0.5rem;
}

.service {
  background-image: url("../images/computer-bg.png");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .service__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .service__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .service__container {
    width: 100%;
  }
}
.service__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 7rem 0 1rem 0;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
  text-shadow: 1px 1px 2px #696969;
  color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .service__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .service__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.service__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 60rem;
  color: #fff;
  margin-bottom: 8rem;
  text-shadow: 1px 1px 2px #696969;
}
@media only screen and (max-width: 37.5em) {
  .service__text {
    width: 42rem;
  }
}
@media only screen and (max-width: phone) {
  .service__text {
    width: 42rem;
  }
}

.academy-features__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .academy-features__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .academy-features__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .academy-features__container {
    width: 100%;
  }
}
.academy-features__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .academy-features__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .academy-features__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.academy-features__heading span {
  color: #3898ec;
  font-size: 4rem;
}
.academy-features__wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 3rem;
}
.academy-features__group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .academy-features__group {
    flex-direction: column;
  }
}
@media only screen and (max-width: tab-port) {
  .academy-features__group {
    flex-direction: column;
  }
}
.academy-features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.academy-features__item img {
  height: 3rem;
}
.academy-features__item h3 {
  color: #546578;
  margin: 1.4rem 0 0.7rem 0;
}
.academy-features__item p {
  width: 24rem;
}
@media only screen and (max-width: 56.25em) {
  .academy-features__item p {
    width: 25rem;
  }
}
@media only screen and (max-width: tab-port) {
  .academy-features__item p {
    width: 25rem;
  }
}

.feature-table {
  background-color: #fafafb;
}
.feature-table__container {
  width: 73.125%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 2.55%;
  -moz-column-gap: 2.55%;
       column-gap: 2.55%;
}
@media only screen and (max-width: 90em) {
  .feature-table__container {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-table__container {
    width: 100%;
  }
}
@media only screen and (max-width: phone) {
  .feature-table__container {
    width: 100%;
  }
}
.feature-table__heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 7rem;
  color: #546578;
  font-family: Catamaran, sans-serif;
  font-size: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .feature-table__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: phone) {
  .feature-table__heading {
    font-size: 2.8rem;
    text-align: center;
  }
}
.feature-table__table {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 2rem 0 9rem 0;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(50, 60, 71, 0.2);
  border-radius: 0.4rem;
}
.feature-table__table table {
  text-align: center;
  padding: 4rem 6rem 6rem 6rem;
}
@media only screen and (max-width: 37.5em) {
  .feature-table__table table {
    padding: 2rem 4rem 4rem 4rem;
  }
}
@media only screen and (max-width: phone) {
  .feature-table__table table {
    padding: 2rem 4rem 4rem 4rem;
  }
}
.feature-table__table th,
.feature-table__table td {
  width: 17rem;
  height: 5rem;
  font-family: Open-sans, sans-serif;
  color: #546578;
}
@media only screen and (max-width: 37.5em) {
  .feature-table__table th,
.feature-table__table td {
    width: 13rem;
  }
}
@media only screen and (max-width: phone) {
  .feature-table__table th,
.feature-table__table td {
    width: 13rem;
  }
}
.feature-table__table .table-item {
  border: 0.1rem solid rgba(84, 101, 120, 0.1);
}
.feature-table__table .row-heading {
  font-weight: 400;
  font-size: 1.4rem;
  color: #989898;
  text-align: left;
}
.feature-table__table .btn-cell {
  height: 7rem;
}

/*# sourceMappingURL=styles.prefix.css.map */