.academy-features {
	&__container {
		@include grid;
    }
    
    &__heading {
        grid-column: 1 / 13;
        justify-self: center;
        margin-top: 7rem;

        @include heading-style;

        span {
            color: $color-primary;
            font-size: 4rem;
        }
    }

    &__wrapper {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        margin-top: 3rem;
    }

    &__group {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;

        img {
            height: 3rem;
        }

        h3 {
            color: $color-heading;
            margin: 1.4rem 0 .7rem 0;
        }

        p{
            width: 24rem;

            @include respond(tab-port) {
                width: 25rem;
            }
        }


    }
}
