.features-home {
    &__container {
        @include grid;
        height: auto;
    }

    &__heading {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        justify-self: center;
        margin-top: 7rem;
    
        @include heading-style;
    }

    &__group {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        margin-top: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__item {
        width: 30rem;
        height: auto;
        margin: 0 2rem 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include respond(tab-port) {
            align-items: center;
            width: 31rem;
        }

        img {
            height: 5rem;
        }

        h3 {
            color: $color-heading;
            margin: 1rem 0;
            font-family: $heading-font;
        }

        p {
            margin-bottom: 1rem;
            width: 30rem;

            @include respond(tab-port) {
                
                width: 38rem;
            }
        }

        a {
            text-decoration: none;
        }
    }

    &__btn {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        justify-self: center;
        margin-bottom: 7rem;
    }

}