.highlight {
    height: 50rem;
    background-color: $color-light-gray;
    position: relative;

    &__container {
        @include grid;
        
    }

    &__one {
        font-size: 4rem;
        color: $color-primary;
    }

    &__group {
        grid-column: 2 / 6;
        margin: 10rem 0;
        width: 40rem;

        @include respond(tab-land) {
            grid-column: 1 / 5;
        }

        h2 {
            font-size: 3.2rem;
            font-family: $heading-font;
            color: $color-heading;

            line-height: 4.8rem;
        }

        p {
            margin: 1.3rem 0 3rem 0;
        }
    }

    &__img-container {
        grid-column: 7 / 13;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__img {
        width: 45rem;
        position: relative;
        z-index: 10;
    }   

    &__bg {
       
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 5;

        @media only screen and (max-width: 90em) {
            right: -10rem;
        }
                
        @media only screen and (max-width: 81.25em) {
            right: -20rem;
        }

    }
}