@import '../styles/abstracts.scss';


.container {
    @include grid;
    height: 10rem;
}

.nav {
	grid-column: 1 / 5;
    grid-row: 1 / 2;


	display: flex;
	align-items: center;
	justify-content: space-between;

	& > * {
		font-family: Roboto, sans-serif;
		color: $color-grey;
		font-size: 1.2rem;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
	}

	@include respond(tab-port) {
		grid-column: 1 / 8;
	}
}

.active-nav-item {
    color: $color-primary;
}

.border {
    grid-column:  6 / 8;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;

    height: 40%;
    border-right: .2rem solid lighten($color-grey, 60%);
}

.subscribe {
    grid-column: 8 / 13;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-text {
    font-size: 1.2rem;
    width: 20rem;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    width: 20rem;
    height: 4rem;
    border: .2rem solid lighten($color-grey, 70%);
    border-radius: .4rem;



    &:focus:placeholder-shown {
       color: transparent;
    }
}

.input-btn {
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.mail {
    width: 2rem;
    position: absolute;
    right: 1rem;
    bottom: 1.1rem;

    &:hover {
        transform: scale(1.12);
    }
}
