@import "../../styles/abstracts.scss";

.hero {
    height: auto;
    width: 100%;
    background-color: $color-primary;
}

.container {
    @include grid(4);
}

.heading {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    justify-self: center;
    width: 80rem;

    color: $white;
    font-family: Catamaran, sans-serif;
    font-size: 4.8rem;
    text-align: center;

    margin-top: 11.5rem;
}

.subheading {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    justify-self: center;
    width: 65rem;

    color: $white;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;

    margin: 2rem 0 4rem 0;
}

.btn-one {
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    justify-self: end;
}

.btn-two {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
}

.screen {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    justify-self: center;
    margin-top: 5rem;
    height: 28rem;
}